.light-blue {font-size:33px !important;    padding-top: 12px;
    padding-bottom: 1px;color:#000 !important;}
.bb-aspect p {
    line-height: 32px;
    margin-bottom: 17px;
    text-transform: uppercase;
}
.lear-more {
    width: 125px;
    margin: 5px auto;
    padding: 3px;
    background-color: #404040;
    color: #fbfbfb;
    opacity: 0.9;
    letter-spacing: 0.1em;
    font-size: small;
    font-weight: bold;
}
.home-heading-h2{
    border-bottom: 1px solid #eaeaea;
padding-bottom: 20px;}
.application-heading-h2{
   
padding-bottom: 20px;}
.services-cat-heading4 {
    border-top: 1px solid #ccc;
    font-size: 18px;
    padding-top: 13px;
    color: #555;
    font-weight: 600;
}
	
	.myservices-icon{color: #000 !important;
    font-size: 35px !important;}
	.service-subhead{font-size: 15px;
    margin-bottom: 10px;}
	.home-icon-material-icons{border-bottom:1px solid #ccc !important}
	.content-space{padding-top:20px}
	.bb-aspect-area {
   
    width: 37% !important;
}
.application-head{
	font-weight:600;
}
.content-space-application{padding-top:5px}


.pure-menu ul{
  visibility: inherit !important;
 }
 .pure-menu.pure-menu-horizontal>ul{
   text-transform: uppercase;
 }
 .pure-menu ul {
     left:0px !important; 
    
     top: 0px !important;
   }
   .caret{
   vertical-align: middle !important;
   margin-left: 2px;
   }
   
 .dropdown-submenu {
    position: relative;
 }

.dropdown-submenu>.dropdown-menu {
   
        margin-top: 35px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: none;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}