::-webkit-scrollbar{width:17px;background:#fcfcfc}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.2)}
::-webkit-scrollbar-thumb{background:rgba(102,51,0,0.2) url(https://googledrive.com/host/0B9LVk4xbDIJTU0FvQll6RWlCNnM/ticks.png);-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.2)}
::-webkit-scrollbar-thumb:window-inactive{background:rgba(216,210,206,0.3)}
::selection{background:#ff7878;color:#fff;text-shadow:none}

#betabulls-svg-icon{
    width: 45px;
    height: 45px;
    margin: -11px -4px 0 -6px;
    vertical-align: middle;
    opacity: 0.7;
}

.right{
    float: right;
}

.post{
    padding: 77px;
}
.page .linklist{
    padding: 77px;
    width: 90%;
    margin: auto;
}
    .page .linklist li{
        padding: 33px;
        list-style: none;
        background: #fafafa;
    }

#emailIcon{
    fill: #999;
    height: 22px;
    width: 26px;
    margin: -2px 0 0 0;
}
    .home-icon{
        height: 37px;
        width: 37px;
    }
        .home-icon path{
             fill: #FF7878;
        }
    .group-icon{
        height: 52px;
        width: 52px;
        margin: -6px 0 -7px 0;
    }
    .banknote-icon{
        height: 47px;
        width: 47px;
        margin: -9px 0 -7px 0;
    }
    .wrench-icon{
        height: 39px;
        width: 39px;
        margin: -1px 0 0 0;
    }
    .footer-icon{
        height: 37px;
        width: 37px;
        fill: #bdbdbd;
    }
        .footer-icon:hover{
            fill: #ff7878
        }
        
.pricing-slogan{
    margin-top: 17px;
}

.bb-aspect, .foursteps{
    background: rgba(255, 255, 255, 0.74);
    border: 1px solid #FFEDED;
    padding: 33px;
    height: 221px;
}
    .bb-lean{
        padding-bottom: 5px;
    }

#betabulls-svg-icon:hover{
    opacity: 1;
}

.navbar-nav{
    margin: 3px 0 0 0 !important;
}

.jot-form{
    width: 531px;
    height: 581px;
    display: block;
    margin: 0 0 0 20px;
}

#f a{
    color: #7b7b7b;
}