.quote24{
margin-top:-72px !important;
}
.quotes1{
margin-top:-72px !important;
}
.code{
margin-top:-97px !important;
}
.quotes2{
margin-top:-37px !important;
}
.what{
margin-top:-7px !important;
}
.serial{
  margin-top:3px !important; 
}
.the four{
margin-top:-3px !important;
}
.usability{
margin-top:-11px !important;
}
.mytrip{
 margin-top:3px !important;
}
.stop{
margin-top:-23px !important;
}
.feedback{
margin-top:-74px !important;
}
.lite{
 margin-top:-49px !important;
}