.testimonial-card{padding:33px;color:#fff;background:#5083AD;font-size:23px;font-weight:bold}.testimonial-card p:first-child{line-height:33px}.testimonial-card .org{color:#16205D}.right-col1{margin-top:89px}
