
@import "http://fonts.googleapis.com/css?family=Lato:300,400,700,900";
@import "http://fonts.googleapis.com/css?family=Raleway:400,300,700,900";
body {
    background-color: #f2f2f2;
    color: #555;
    font-family: "Lato",arial;
    font-size: 16px;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: "Raleway";
    font-weight: 300;
}
p {
    line-height: 28px;
    margin-bottom: 25px;
}
.centered {
    text-align: center;
}
a {
    color: #f85c37;
    transition: color 0.1s ease-in 0s, background 0.1s ease-in 0s;
    word-wrap: break-word;
}
a:hover, a:focus {
    color: #7b7b7b;
    outline: 0 none;
    text-decoration: none;
}
a::before, a::after {
    transition: color 0.1s ease-in 0s, background 0.1s ease-in 0s;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}
#fixedForContactUsSix .btn-lg, #fixedForContactUsSix .btn-group-lg > .btn {
    margin-right: 3px;
    padding: 6px 16px;
}
.hide {
    display: none;
}
.navbar {
    font-size: 14px;
    font-weight: 800;
    padding-top: 10px;
}
.navbar-inverse {
    background: #2d2d2d none repeat scroll 0 0;
    border-color: #2d2d2d;
}
.navbar-inverse .navbar-nav > .active > a {
    background: #ff7878 none repeat scroll 0 0;
}
.navbar-inverse .navbar-brand {
    color: #999999;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.navbar-inverse .navbar-brand i {
    color: #ff7878;
    font-size: 22px;
    letter-spacing: 1px;
}
#headerwrap {
    background-position: center center;
    background-size: cover;
    margin-top: 72px;
    min-height: 300px;
    padding-top: 0;
    text-align: center;
    width: 100%;
}
.headerwrap-main {
    background: rgba(0, 0, 0, 0) url("../img/header-bg.jpg") no-repeat scroll center top;
}
.maintenance-support {
    background: rgba(0, 0, 0, 0) url("../img/maintenance-support.jpg") no-repeat scroll center top;
}
.mobile-enablement{
    background: rgba(0, 0, 0, 0) url("../img/mobile-enablement.jpg") no-repeat scroll center top;   
}
.custom-soft-dev{
    background: rgba(0, 0, 0, 0) url("../img/custom-soft-dev.jpg") no-repeat scroll center top;   
}
.headerwrap-customswdev {
    background: rgba(0, 0, 0, 0) url("../img/header-bg-custom.jpg") no-repeat scroll center top;
}
.headerwrap-about {
    background: rgba(0, 0, 0, 0) url("../img/header-bg-about.jpg") no-repeat scroll center top;
}
.headerwrap-risktrial {
    background: rgba(0, 0, 0, 0) url("../img/header-bg-risktrial.jpg") no-repeat scroll center top;
}
.headerwrap-casestudies {
    background: rgba(0, 0, 0, 0) url("../img/header-bg-casestudies.jpg") no-repeat scroll center top;
}
.headerwrap-whatwedo {
    background: rgba(0, 0, 0, 0) url("../img/header-bg-whatwedo.jpg") no-repeat scroll center top;
}
.headerwrap-cases-example {
    background: rgba(0, 0, 0, 0) url("../img/header-bg-cases-example.jpg") no-repeat scroll center top;
}
#headerwrap h1 {
    color: white;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 70px;
    margin-bottom: 20px;
    margin-top: 60px;
}
#headerwrap h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
}
#dg {
    background: #e0e0e0 none repeat scroll 0 0;
    padding-bottom: 70px;
    padding-top: 70px;
    text-align: center;
}
#dg1 {
    background: #e0e0e0 none repeat scroll 0 0;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
#dg h4 {
    font-weight: 700;
}
#lg {
    background: #ebebeb none repeat scroll 0 0;
    padding-bottom: 70px;
    padding-top: 70px;
    text-align: center;
}
#lg h4 {
    font-weight: 700;
}
#r {
    background: #ff7878 none repeat scroll 0 0;
    padding-bottom: 30px;
    padding-top: 35px;
}
#r h4 {
    color: white;
    font-weight: 700;
}
#r p {
    color: white;
}
#blue {
    background: #3498db none repeat scroll 0 0;
    padding-bottom: 36px;
    padding-top: 41px;
}
#blue h4 {
    color: white;
    font-weight: 700;
}
#blue p {
    color: white;
}
#f {
    background: #2d2d2d none repeat scroll 0 0;
    padding-bottom: 30px;
    padding-top: 30px;
}
#f i {
    color: #bdbdbd;
    font-size: 30px;
    padding: 20px;
}
#f i:hover {
    color: #ff7878;
}
.bb-footer {
    color: #ffffff;
    font-size: medium;
    letter-spacing: 0.1em;
    margin: 0 10px 10px 0;
    padding: 5px;
    width: 18%;
}
.bb-footer p{
    line-height: 18px;
}
h5.footer {
    color: #d0d0d0;
    font-weight: bold;
    margin-left: 0px;
    text-align: left;
    text-transform: uppercase;
}
ul.footer {
    color: #dedede;
    font-size: smaller;
    list-style-type: none;
    padding: 0;
    text-align: left;
}
.w {
    padding-bottom: 18px;
    padding-top: 5px;
}
.w h4 {
    font-weight: 700;
}
.w i {
    color: #ff7878;
    font-size: 30px;
}
.wb {
    margin-bottom: 0;
    padding-top: 35px;
}
.wb h4 {
    font-weight: 700;
}
.desc {
    padding-top: 35px;
}
.desc h4 {
    font-weight: 700;
}
.desc i {
    color: #ff7878;
    font-size: 12px;
    padding: 5px;
}
.modal-content {
    border-radius: 0;
}
.modal-header {
    background: #bdbdbd none repeat scroll 0 0;
    color: white;
}
.modal-header h4 {
    font-weight: 700;
}
.modal-body {
    background: transparent none repeat scroll 0 0;
    color: #555;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
}
.modal-footer {
    background: #f2f2f2 none repeat scroll 0 0;
    margin-top: 0;
}
.pricing-option {
    margin: -2px;
    padding-bottom: 40px;
}
.pricing-option .pricing-top {
    box-sizing: border-box;
    font-weight: bold;
    padding: 40px 20px 47px;
    position: relative;
    text-align: center;
}
.pricing-free-top {
    background: rgba(161, 161, 255, 0.44) none repeat scroll 0 0;
    color: #7463b6;
}
.pricing-hash-top {
    background: #1f301e none repeat scroll 0 0;
    color: #6cb865;
}
.pricing-mvp-top {
    background: #251801 none repeat scroll 0 0;
    color: #f1720e;
}
.pricing-option .pricing-top .special-label {
    background: #1abc9c none repeat scroll 0 0;
    display: block;
    font-size: 15px;
    font-weight: bold;
    left: 0;
    padding: 3px 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}
.special .pricing-top {
    background: black none repeat scroll 0 0;
}
.pricing-option .pricing-edition {
    display: block;
    font-size: 25px;
    letter-spacing: 8px;
    margin: 13px 0 71px;
    text-transform: uppercase;
}
.pricing-option .price {
    display: inline-block;
    position: relative;
}
.pricing-option .price sup {
    font-size: 24px;
    left: -10px;
    position: absolute;
    top: -17px;
}
.pricing-option .price .price-amount {
    font-size: 108px;
    letter-spacing: -4px;
}
.pricing-option .price small {
    font-size: 18px;
    left: -10px;
    position: relative;
}
.pricing-option ul {
    list-style: outside none none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}
.pricing-items-free {
    background: rgba(234, 234, 255, 0.28) none repeat scroll 0 0;
}
.pricing-items-free a, .sub-questions a {
    color: rgba(22, 69, 187, 0.74);
}
.pricing-items-hash {
    background: rgba(71, 194, 170, 0.06) none repeat scroll 0 0;
}
.priving-items-mvp {
    background: rgba(255, 201, 103, 0.06) none repeat scroll 0 0;
}
.pricing-option ul li {
    border-bottom: 1px solid #e1e1e1;
    border-left: 2px solid #e4e4e4;
    border-right: 2px solid #e4e4e4;
    padding-bottom: 20px;
    padding-top: 20px;
}
.pricing-option .pricing-signup {
    color: white;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 10px;
    text-align: center;
}
.pricing-option .pricing-signup:hover {
    background: #ff7878 none repeat scroll 0 0;
}
.pricing-signup-free {
    background: rgba(115, 115, 250, 0.58) none repeat scroll 0 0;
    color: #fff;
}
.pricing-signup-hash {
    background: #1abc9c none repeat scroll 0 0;
}
.pricing-signup-mvp {
    background: orange none repeat scroll 0 0;
}
.processbox {
    background: #f2f2f2 none repeat scroll 0 0;
    border: 2px solid #dfdfdf;
    list-style-type: none;
    padding: 20px;
}
.btn-xlarge {
    border-radius: 6px;
    font-size: 25px;
    line-height: 1.33;
    padding: 10px 16px;
}
.badge {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    padding-bottom: 3px;
    padding-top: 1px;
    text-shadow: none;
}
.badge-info, .label-info {
    background-color: #3a87ad !important;
    font-size: 19px;
    padding: 14px 17px;
}
#betabulls-svg-icon {
    height: 45px;
    margin: -11px -4px 0 -6px;
    opacity: 0.7;
    vertical-align: middle;
    width: 45px;
}
.giphy {
    display: block;
    height: 147px !important;
    margin: -148px auto 0;
    max-width: 500px;
    position: relative;
    z-index: -1;
}
#_giphy_SBDwBgzOoclxe {
    opacity: 0;
    transition: all 1s ease 0s;
}
.you-conquer:hover #_giphy_SBDwBgzOoclxe {
    opacity: 1;
}
.show {
    display: block;
}
.disable-icon {
}
iframe {
    border: 0 none;
}
.pdf-icon {
    fill: red;
    height: 44px;
    margin: 0 0 -12px;
    width: 44px;
}
.soundcloud-icon {
    cursor: pointer;
    fill: orange;
    height: 42px;
    margin: 9px 0 -10px 7px;
    width: 42px;
}
.soundcloud-iframe {
    display: none;
    left: -168px;
    position: fixed;
    top: 70px;
    width: 113%;
}
.close-soundcloud {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    cursor: pointer;
    display: none;
    font-family: arial;
    font-size: 13px;
    padding: 3px 7px;
    position: fixed;
    right: 44px;
    top: 208px;
    z-index: 2;
}
.post-soundcloud {
    margin: 177px 0 0;
}
.blog-feature-image {
    margin: 38px auto 0;
    padding: 33px;
    width: 100%;
}
.blog-thumb {
    display: block;
    margin: auto;
    text-align: center;
}
.blog-listing-label {
    clear: both;
    display: block;
}
.blog-index .blog-3rd {
    padding: 33px 0;
    text-align: left;
    width: 32.3333%;
}
.blog-index .content-ribbon {
    text-align: center;
}
.itunes-icon {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d3d3d3;
    border-radius: 19px;
    display: block;
    margin: auto;
    width: 77px;
}
.idoc-icon {
    padding: 0;
    width: 77px;
}
.clear {
    clear: both;
}
.center {
    text-align: center;
}
.pure-g-r {
    letter-spacing: inherit !important;
}
.header-nav {
    float: right;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    background: rgba(45, 45, 45, 0.9) none repeat scroll 0 0;
    border: 0 none;
    padding: 9px;
}
.pure-menu-heading {
    color: #cecece !important;
    float: left;
    font-size: 23px !important;
    margin: 0 !important;
}
.pure-menu-heading:hover {
    color: #fff !important;
}
.pure-menu li a {
    color: #cecece !important;
    padding: 10px 15px !important;
}
.pure-menu li a:hover {
    background: transparent none repeat scroll 0 0;
    color: #fff !important;
    font-weight: 800;
}
.pure-menu.pure-menu-horizontal > ul {
    padding-right: 33px;
}
.right {
    float: right;
}
.left {
    float: left;
    text-align: left;
}
.text-left {
    text-align: left;
}
.post-content {
    clear: both;
    color: #444;
    font-size: 18px;
    margin: auto;
    max-width: 81%;
    padding: 33px 0;
}
.post {
    padding: 77px;
}
.page .linklist {
    margin: auto;
    padding: 77px 0;
    width: 90%;
}
.blog-index .linklist {
    padding: 0;
}
.blog-index {
    padding: 77px 0;
}
.blog-index .blog-3rd h1 {
    text-align: center;
}
.blog-index .blog-3rd:first-child {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(248, 255, 232, 1) 0%, rgba(183, 223, 45, 0.13) 100%) repeat scroll 0 0;
}
.blog-index .blog-3rd:nth-child(2) {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(180, 227, 145, 0.33) 0%, rgba(180, 227, 145, 0.13) 100%) repeat scroll 0 0;
}
.blog-index .blog-3rd:nth-child(3) {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(107, 186, 112, 0.11) 0%, rgba(107, 186, 112, 0.13) 100%) repeat scroll 0 0;
}
.blog-index .pure-button {
    background: #fafafa none repeat scroll 0 0;
    margin: 15px -30px 0 0;
}
.page .linklist li {
    background: #fafafa none repeat scroll 0 0;
    list-style: outside none none;
    margin: 0 0 33px;
    padding: 33px 33px 51px;
}
.blog-index .linklist li {
    background: rgba(250, 250, 250, 0.85) none repeat scroll 0 0;
    box-shadow: -8px -8px rgba(153, 153, 153, 0.03);
}
.techcrunch-green {
    color: #0a9e01;
    font-weight: bold;
}
#emailIcon {
    fill: #999;
    height: 22px;
    margin: 1px 0 -4px;
    width: 26px;
}
#emailIcon:hover {
    fill: #fff;
}
.home-icon {
    height: 37px;
    margin: 33px 0 0;
    width: 37px;
}
.home-icon path {
    fill: #ff7878;
}
.leanstartup-icon {
    height: 34px;
    margin: 21px 0 0;
    opacity: 0.9;
    width: 34px;
}
.banknote-icon {
    height: 47px;
    width: 47px;
}
.wrench-icon {
    height: 39px;
    width: 39px;
}
.footer-icon {
    fill: #bdbdbd;
    height: 37px;
    width: 37px;
}
.footer-icon:hover {
    fill: #ff7878;
}
.lean-startup {
    display: none;
}
.lean-book {
    cursor: pointer;
}
.lean-cover {
    display: block;
    height: 503px;
    margin: auto;
    width: 333px;
}
.lean-icon-bg {
    background: rgba(0, 0, 0, 0) url("/img/Lean-Startup_icon-white-w333.png") no-repeat scroll center center;
    display: block;
    padding: 133px 0 131px;
}
.play-icon {
    cursor: pointer;
    fill: #fff;
    height: 222px;
    margin: 186px 0 0 91px;
    opacity: 0;
    position: absolute;
    transition: all 1s ease 0s;
    width: 222px;
}
.play-icon-running {
    fill: #000;
    height: 177px;
    margin: 44px 0 0 -99px;
    width: 177px;
}
.pricing-slogan {
    margin-top: 17px;
}
.pricing-row {
    margin: 111px 0 0;
}
.pricing-row .pure-u-1-3 {
    width: 32.3333%;
}
.books-included {
    margin: 11px 0 33px;
}
.bb-aspect, .foursteps {
    background: rgba(238, 238, 238, 0.74) none repeat scroll 0 0;
    height: 221px;
    padding: 33px;
}
.foursteps {
    background: rgba(29, 29, 29, 1) none repeat scroll 0 0;
    border: 1px solid #88add6;
    color: #fff;
    height: 272px;
    margin: 33px;
}
.foursteps h4 {
    color: #fff;
}
.foursteps:hover {
    margin: 33px 67px 66px;
}
.foursteps:hover, .foursteps:hover h4 {
    background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
    border: 0 none;
    padding: 0 0 33px;
    transition: all 1s ease 0s;
}
.bb-aspect {
    height: 150px;
    margin: 5px 5px 0 0px;
    opacity: 0.9;
    padding: 13px;
    transition: all 0.3s ease 0s;
    width: 48%;
}
.bb-aspect h4 {
    transition: all 0.3s ease 0s;
}
.bb-aspect p {
    height: 125px;
}
.bb-aspect:hover {
  /*  background-color: #fefefe;*/
    /*border: 1px solid #bf726a;*/
    opacity: 1;
    padding: 25px !important;
    width: 48%;
}

.bb-aspect1 {
    height: 150px;
    margin: 5px 5px 0 0px;
    opacity: 0.9;
    padding: 13px;
    transition: all 0.3s ease 0s;
    width: 30.5% !important;
}
.bb-aspect1 h4 {
    transition: all 0.3s ease 0s;
}
.bb-aspect1:hover {
  /*  background-color: #fefefe;*/
    /*border: 1px solid #bf726a;*/
    opacity: 1;
    padding: 25px !important;
    width: 30.5%;
}

.bb-aspect:hover h4 {
}
.bb-aspect:hover .home-icon {
    background-color: #cccccc;
}
.bb-lean {
    cursor: pointer;
}
.home-device-bg {
    background: #dddddd none repeat scroll 0 0;
    border: 1px solid #e9e9e9;
    border-radius: 33px;
    margin: 33px;
    padding: 66px 33px 13px;
}
.home-device-bg a {
    color: #7b7b7b;
}
#betabulls-svg-icon:hover {
    opacity: 1;
}
.navbar-nav {
    margin: 3px 0 0 !important;
}
.contact-step {
    cursor: pointer;
}
.price-slogan {
    color: #999;
    display: block;
    font-size: 12px;
    margin: 6px 0 -13px;
}
.modal {
    transition: all 1s ease 0s;
    z-index: 3 !important;
}
.lean-modal-frame .modal-body {
    background: #222 none repeat scroll 0 0;
}
.lean-startup .pure-u-1-5 {
    margin: 0 -3px 0 0;
    padding: 13px;
    width: 16%;
}
.lean-analytics {
    background: rgba(0, 0, 0, 0) url("/img/lean-series.png") no-repeat scroll -4px -9px;
    display: block;
    height: 270px;
    width: 180px;
}
.lean-enterprise {
    background: rgba(0, 0, 0, 0) url("/img/lean-series.png") no-repeat scroll -212px -9px;
    display: block;
    height: 270px;
    width: 180px;
}
.lean-ux {
    background: rgba(0, 0, 0, 0) url("/img/lean-series.png") no-repeat scroll -419px -9px;
    display: block;
    height: 270px;
    width: 180px;
}
.lean-running {
    background: rgba(0, 0, 0, 0) url("/img/lean-series.png") no-repeat scroll -627px -9px;
    cursor: pointer;
    display: block;
    height: 270px;
    width: 180px;
}
.lean-ux-startup {
    background: rgba(0, 0, 0, 0) url("/img/lean-series.png") no-repeat scroll -834px -9px;
    display: block;
    height: 270px;
    width: 180px;
}
#sumotest-badge {
    left: -39px;
    opacity: 0;
}
.jot-frame {
    border: 0 none;
    height: 578px;
    margin: -21px 0 0 -25px;
    width: 777px;
}
.jot-form {
    display: block;
    height: 581px;
    margin: 0 0 0 20px;
    width: 531px;
}
#f a {
    color: #dedede;
}
ul.footer li{
    margin:8px 0px;
}
.mute {
    opacity: 0.7;
}
@media (max-width: 979px) {
.giphy, .hero-giphy {
    display: none;
}
.bb-aspect {
    margin: 33px 0 !important;
    padding: 0 33px !important;
    width: 77% !important;
}
.bb-aspect:first-child {
    margin-top: 0;
}
.leanstartup-icon {
    margin-top: 11px;
}
.pure-menu-heading {
    text-align: center;
    width: 86%;
}
.pure-menu li {
    margin: 0 0 0 -13px;
}
.pure-menu.pure-menu-horizontal > ul {
    margin: 0 0 0 -33px;
    padding: 0;
    text-align: center;
    width: 100%;
}
.pure-menu li a {
    padding: 5px 13px;
}
.email-icon-header {
    position: absolute;
    right: 33px;
    top: -48px;
}
#headerwrap h1 {
    font-size: 26px !important;
    line-height: 38px;
    margin-top: 120px;
}
#headerwrap h2 {
    font-size: 33px;
}
.home-device-bg {
    margin: 33px 0;
    width: 81%;
}
.post-content {
    max-width: inherit;
    width: 100%;
}
.foursteps {
    margin: 33px 0;
    width: 77%;
}
.label-info {
    margin: 33px 0 0;
}
#blue {
    margin: 109px 0 0;
}
.mobile-price {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
.pricing-option:first-child {
    margin: 0 14px 44px;
}
.modal {
    height: 525px !important;
    top: 33px;
    width: 506px !important;
}
.modal-header .close {
    font-size: 33px;
    margin: 6px 23px 0 0;
}
.post {
    line-height: 33px;
    padding: 77px 33px;
}
.blog-feature-image {
    margin: 0;
}
.blog-index .blog-3rd {
    width: inherit;
}
.soundcloud-iframe {
    top: 111px;
    width: 149%;
}
.close-soundcloud {
    top: 233px;
}
#r h3 {
    font-size: 21px;
}
#r h4 {
    font-size: 16px;
}
.banner-form {
    background-color: rgba(55, 55, 55, 0.5);
    color: #ffffff;
    float: left;
    height: 100%;
    margin: 70px 10px 0 35px !important;
    min-width: 320px;
    padding: 10px !important;
    text-align: left !important;
    width: 18%;
}
.banner-txt {
    float: none !important;
    text-align: center;
    width: 100% !important;
}
.banner-txt h4 {
    text-align: center !important;
}
.bb-aspect {
    height: auto !important;
    padding: 10px 0 !important;
}
#navbarCollapse {
    float: none !important;
}
.navbar {
    margin-bottom: 30px !important;
}
}
.form-hori .clearfix {
    margin-top: 10px !important;
    overflow: hidden !important;
}
.banner-form {
    background-color: rgba(55, 55, 55, 0.5);
    bottom: 0;
    color: #ffffff;
    min-width: 320px;
    padding: 0 10px 0 0;
    position: fixed;
    right: 0;
    text-align: right;
    width: 18%;
    z-index: 99999;
}
.banner-txt {
    margin: 0 auto;
    padding: 40px 10px 80px;
    text-align: center;
    width: 60%;
}
.banner-txt h1 {
    text-align: center !important;
}
.banner-txt h4 {
    text-align: center !important;
}
#headerwrap h1 {
    font-size: 40px !important;
    margin-top: 20px !important;
}
#headerwrap h2 {
    font-size: 32px !important;
}
.home-icon {
    margin: 5px 0 0;
}
.post {
    padding: 10px 0 25px;
}
.pure-menu li a {
    padding: 5px 10px;
}
.pure-u-1-4 {
    width: 25%;
}
.bb-aspect:hover {
    padding: 13px;
}
.bb-aspect {
    background: #fff none repeat scroll 0 0;
    height: 255px;
}
.bb-aspect1 {
    background: #fff none repeat scroll 0 0;
    height: 275px;
    margin:15px 15px; 
}
#fixedForBetaBulls img {
    color: red;
    height: 180px;
    position: fixed;
    right: -1px;
    top: 113px;
}
.pure-menu ul {
    position: static !important;
    visibility: visible !important;
}
@media (max-width: 979px) {
#headerwrap h1 {
    display: block !important;
    font-size: 30px !important;
    line-height: 32px;
    text-align: center !important;
}
}
.solu {
    background: #e8e8e8 none repeat scroll 0 0;
    padding: 50px 0;
}
.right-col {
    background: none;
    min-height: 1750px;
    overflow: hidden;
    border-left:1px #ccc solid;
    padding: 0 15px;
}
.right-col1 {
    background: none;
    min-height: 750px;
    overflow: hidden;
    border-left:1px #ccc solid;
    padding: 0 15px;
    margin:10px 0; 
}
.right-col h3 {
    margin: 0;
    padding: 0;
}
.floating-form {
    background: #f2f9fc none repeat scroll 0 0;
    border: 1px solid #ccc;
    font: 13px "Lato",arial;
    margin-top: 0px;
    padding: 15px 25px 10px 25px;
    z-index: 9999;
}
.floating-form label {
    font-weight: normal !important;
}
.floating-form label span {
    font-weight: normal !important;
}
.contact-opener {
    background-color: #216288;
    border-radius: 5px 5px 0 0;
    box-shadow: -2px 0 8px rgba(43, 33, 33, 0.06);
    color: #fff;
    cursor: pointer;
    left: -88px;
    padding: 9px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    top: 100px;
    transform: rotate(-90deg);
}
.floating-form-heading {
    border-bottom: 2px solid #ddd;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 3px;
}
.floating-form label {
    display: block;
    margin: 0 0 15px;
}
.floating-form label > span {
    float: left;
    font-weight: bold;
    padding-right: 5px;
    padding-top: 8px;
    width: 70px;
}
.floating-form span.required {
    color: red;
}
.floating-form .tel-number-field {
    text-align: center;
    width: 40px;
}
.floating-form .long {
    width: 120px;
}
.floating-form input.input-field {
    width: 72%;
}
.floating-form input.input-field, .floating-form .tel-number-field, .floating-form .textarea-field, .floating-form .select-field {
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #ebebeb;
    box-sizing: border-box;
    outline: medium none;
    padding: 7px;
    transition: all 0.3s ease-in-out 0s;
}
.floating-form .input-field:focus, .floating-form .tel-number-field:focus, .floating-form .textarea-field:focus, .floating-form .select-field:focus {
    border: 1px solid #0c0;
}
.floating-form .textarea-field {
    height: 100px;
    width: 68%;
}
.floating-form input[type="button"], .floating-form input[type="submit"], .contact-opener {
    background-color: #c82f32;
    border: 1px solid #c82f32;
    box-shadow: 0 1px 0 0 #c82f32 inset;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 8px 18px;
    text-decoration: none;
}
.floating-form input[type="button"]:hover, .floating-form input[type="submit"]:hover, .contact-opener {
    background: #28739e linear-gradient(to bottom, #2d77a2 5%, #337da8 100%) repeat scroll 0 0;
}
.floating-form .success {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #d8ffc0 none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #2e6800;
    border-image: none;
    border-style: none none none solid;
    border-width: medium medium medium 3px;
    color: #2e6800;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 5px 10px;
}
.floating-form .error {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #ffe8e8 none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #ff0000;
    border-image: none;
    border-style: none none none solid;
    border-width: medium medium medium 3px;
    color: #ff0000;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 5px 10px;
}
#tagsSidebar a {
    clear: both;
    display: inline-block;
    margin: 5px 15px;
    overflow: hidden;
}
.bck-contact{
    background: #f2f9fc;
    margin:0;
    padding: 0; 
}
.bck-contact h3{
    padding:10px 0 0px 10px;
    margin:0;
}

.modal-backdrop{
        z-index: 0;
    }