/*
Error: Invalid CSS after "		.": expected "{", was "}"
        on line 293 of /home/ubuntu/workspace/src/documents/css/ent-style.css.scss

288: 	}
289: }
290: .main-inner{
291: 	.betabulls-enterprise-about, .betabulls-enterprise-services, .betabulls-enterprise-testimonials{
292: 		.
293: 	}
294: }
295: .headerwrap-main {
296: 	background: rgba(0, 0, 0, 0) url(../img/ent-img/header-bg.jpg) no-repeat scroll center top;
297: }
298: .maintenance-support {

Backtrace:
/home/ubuntu/workspace/src/documents/css/ent-style.css.scss:293
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:1179:in `expected'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:1115:in `expected'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:1110:in `tok!'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:654:in `block'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:663:in `block_contents'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:663:in `block_contents'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:647:in `ruleset'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:673:in `block_child'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:123:in `stylesheet'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/scss/parser.rb:39:in `parse'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/engine.rb:403:in `_to_tree'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:363:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-2.3.0@global/gems/sass-3.4.21/bin/scss:13:in `<top (required)>'
/usr/local/rvm/rubies/ruby-2.3.0/bin/scss:23:in `load'
/usr/local/rvm/rubies/ruby-2.3.0/bin/scss:23:in `<main>'
/usr/local/rvm/gems/ruby-2.3.0@global/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.3.0@global/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"		.\": expected \"{\", was \"}\"\A         on line 293 of /home/ubuntu/workspace/src/documents/css/ent-style.css.scss\A \A 288: 	}\A 289: }\A 290: .main-inner{\A 291: 	.betabulls-enterprise-about, .betabulls-enterprise-services, .betabulls-enterprise-testimonials{\A 292: 		.\A 293: 	}\A 294: }\A 295: .headerwrap-main {\A 296: 	background: rgba(0, 0, 0, 0) url(../img/ent-img/header-bg.jpg) no-repeat scroll center top;\A 297: }\A 298: .maintenance-support {"; }
