.testimonial-card{
	padding: 33px;
	color: #fff;
	background: #000088;
	background: rgb(171, 200, 224);
	font-size: 23px;
	font-weight: bold;
	p:first-child{line-height: 33px;}
	.org{color:blanchedalmond;}
}